/* Main Primary color (alm-green)*/
.color-primary-0 {
  color: #0b8856;
}
.color-primary-1 {
  color: #44b185;
}
.color-primary-2 {
  color: #1ea06c;
}
.color-primary-3 {
  color: #016d41;
}
.color-primary-4 {
  color: #004c2e;
}

/* Main Secondary color (alm-blue) (1) */
.color-secondary-1-0 {
  color: #125181;
}
.color-secondary-1-1 {
  color: #477ea8;
}
.color-secondary-1-2 {
  color: #256697;
}
.color-secondary-1-3 {
  color: #073d67;
}
.color-secondary-1-4 {
  color: #032a48;
}

/* Main Secondary color (alm-gold) (2) */
.color-secondary-2-0 {
  color: #c87910;
}
.color-secondary-2-1 {
  color: #ffbc62;
}
.color-secondary-2-2 {
  color: #eb9a2d;
}
.color-secondary-2-3 {
  color: #a05c01;
}
.color-secondary-2-4 {
  color: #704000;
}

/* Main Complement color (alm-orange) */
.color-complement-0 {
  color: #c84710;
}
.color-complement-1 {
  color: #ff9162;
}
.color-complement-2 {
  color: #eb662d;
}
.color-complement-3 {
  color: #a03001;
}
.color-complement-4 {
  color: #702100;
}

:root {
  --alm-green: #0b8856;
  --alm-green-light: #44b185;
  --alm-green-dark: #016d41;

  --alm-blue: #125181;
  --alm-blue-light: #477ea8;
  --alm-blue-dark: #073d67;

  --alm-gold: #c87910;
  --alm-gold-light: #ffbc62;
  --alm-gold-dark: #a05c01;

  --alm-orange: #c84710;
  --alm-orange-light: #ff9162;
  --alm-orange-dark: #a03001;
}
