.carousel-inner {
  background-color: var(--alm-blue-lighter);
}

.carousel-item div {
  box-shadow: 0 0 50px 50px var(--alm-blue-lighter);
}

.carousel-item img {
  max-height: 100%;
  box-shadow: 0 0 10% 10% var(--alm-blue-lighter);
}
