main {
  margin-top: 50px;
}

#corner-top-left {
  width: 400px;
  right: 33%;
}

#corner-top-left::after {
  position:absolute;
  content: " ";
  display:block;
  top: 50px;
  border-style: solid;
  border-width: 0 0 80px 400px;
  border-color: transparent transparent transparent var(--alm-orange);
}

#corner-top-right {
  width: 400px;
  left: 33%;
}

#corner-top-right::after {
  position:absolute;
  content: " ";
  display:block;
  top: 50px;
  border-style: solid;
  border-width: 0px 400px 80px 0;
  border-color:  transparent var(--alm-green) transparent transparent;
}

#corner-bottom-left {
  width: 50%;
  height: 50px;
  background-color: var(--alm-blue);
}

#corner-bottom-left::after {
  position:absolute;
  content: " ";
  display:block;
  right:0;
  top:-200px;
  border-style: solid;
  border-width: 200px 0 0 50vw;
  border-color: transparent transparent transparent var(--alm-blue);
}

#corner-bottom-right {
  width: 50%;
  height: 50px;
  background-color: var(--alm-gold);
}

#corner-bottom-right::after {
  position:absolute;
  content: " ";
  display:block;
  left:0;
  top:-200px;
  border-style: solid;
  border-width: 200px 50vw 0 0;
  border-color: transparent var(--alm-gold) transparent transparent;
}



 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  main {
    margin-top: 0;
  }
  
  .navbar {
    background-color: transparent;
  }

  #corner-top-left {
    width: 800px;
  }

  #corner-top-left::after {
    top: 0;
    border-width: 0 0 160px 800px;
  }

  #corner-top-right {
    width: 800px;
  }

  #corner-top-right::after {
    top: 0;
    border-width: 0 800px 160px 0;
  }


 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { }

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {



  #corner-top-left {
    width: 1000px;
  }

  #corner-top-left::after {

    border-width: 0 0 200px 1000px;
  }

  #corner-top-right {
    width: 1000px;
  }

  #corner-top-right::after {
    border-width: 0 1000px 200px 0;
  }
}

 /* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
  #corner-top-left {
    width: 1600px;
  }

  #corner-top-left::after {
    border-width: 0 0 320px 1600px;
  }

  #corner-top-right {
    width: 1600px;
  }

  #corner-top-right::after {
    border-width: 0 1600px 320px 0;
  }
}
